* {
  box-sizing: border-box;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

body {
  margin: 0;
  padding: 0;

  color: #fff;
  background: #303030;
}

.container {
  padding-top: 50px;

  display: flex;
  justify-content: center;

  gap: 30px;
}

.controls {
  display: flex;
  flex-direction: column;
}
